.main-content {
    width: 70%;
    margin: 0 auto;
}

.links:visited,
.links:link {
    color: $color-secondary;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.side-menu {   
    &__header {
        font-size: $small-font-size;
    }

    &-box {
        padding: 1.5rem;
        border: 1px solid $color-secondary-light;
        width: 25rem; 
        list-style-position: inside;

        &__categories {
            &--ul {
                
            }
        }
        &__colors--ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }
        &__colors {
            &--li {
            margin:.5rem .5rem 0 0;
            display: inline-block;
            width: 3rem;
            height: 2rem;
            }
            &--preto {
                background-color: $color-black;
            }
            &--laranja {
                background-color: $color-orange;
            }
            &--amarelo {
                background-color: $color-yellow;
            }
            &--rosa {
                background-color: $color-pink;
            }
            &--azul {
                background-color: $color-blue;
            }
            &--cinza {
                background-color: $color-grey;
            }
            &--bege {
                background-color: $color-salmon;
            }
        }
    }
    
}

.section-products {
    position: relative;
    width: 100%;
    padding:1rem 0;
    margin-left: 1rem;
    &__header {
        display: block;
    }
    &__order-box {

    }
    &__order {
        position: relative;
        display: flex;
        border-top: 1px solid $color-secondary-light;
        border-bottom: 1px solid $color-secondary-light;
        padding: 1rem 0;

        &--option {
            position: absolute;
            right: 0;
            display: flex;
        }
        &--select{
            margin-left: 1rem;
        }

        &--display {
            display: inline-block;
        }
            
    }
}
