*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding-bottom: 3rem;
    overflow-x: hidden;
}

img {
    width: 99%;
    height: 100%;
    border: 1px solid $color-secondary-light;
    border-radius: .3rem;
}

@media screen and (max-width: 320px) {
    body{
        width: 100%;
        margin: 0;
    }
    .header {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0rem;
        font-size: 1.2rem;

        &__nav {
            display: none;

            &--ul {
            
            }
        }
        &__menu {
            display: inline-block;
        }

        &__box--search {
            display: none;
        }
        &__box--logo {
            margin-left: 3rem;
        }
        &__logo--busca {
            width: 3rem;
            height: 3rem;
            display: inline-block;

            img {
                border: none;
            }
        }
    }
    .main-content {
        width: 100%;
        display: block;
        padding: .4rem;
    }
    .side-menu {
        display: block;
        width: 100%;
    }
    .section-products__header {
        width: 100%;
    }
    .section-products__order--option {
        font-size: 1.2rem;
    }

    .footer {
        padding: 1rem;
    }
}

@media screen and (min-width: 760px) {
    .header{
        &__menu {
        display: none;
        }
        &__nav {
            display: block;
        }
        &__logo--busca {
            display: none;
        }
        &__login {
            text-align: right; 
        }
        &__box{
            &--logo {
                
            }
            &--search {
                position: absolute;
                right: 2rem;
                display: inline-block;
                padding: 3rem 0;
            }
        }
    }
    .main-content {
        display: flex;
    }

    .section-products {
        margin-left: 1rem;
    }
}
