.header__box--button {
    background-color: $color-primary;
    border: none;
    padding: 0 1rem;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
        cursor: pointer;
    }
}

.card__button {
    display: block;
    border-radius: .3rem;
    border: none;
    width: 100%;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        background-color: $color-green-icon;
    }
}