//Colors

$color-primary: #CC0D1F;
$color-primary-dark: rgb(158, 8, 23);
$color-secondary: #7c7c7c;
$color-secondary-light: #d3d3d3;
$color-green-title: #699693;
$color-green-icon: #81BDB9;
$color-white: #fff;
$color-black: #000;
$color-yellow: yellow;
$color-orange: orange;
$color-pink: rgb(255, 0, 255);
$color-blue: blue;
$color-grey: grey;
$color-salmon: pink;

//font 

$default-font-size: 1.6rem;
$small-font-size: 1.4rem;
